@charset "UTF-8";
.db {
  display: block !important; }

.di {
  display: inline !important; }

.dib {
  display: inline-block !important; }

.hr {
  margin: 0;
  border: none;
  height: 1px;
  overflow: hidden;
  background-color: #e5e5e5; }

.w100 {
  width: 100%; }

.w-full {
  width: 100%; }

.di-vm {
  display: inline-block;
  vertical-align: middle; }

.bn {
  border: none !important; }

.bd {
  border: 1px solid #e5e5e5; }

.bt {
  border-top: 1px solid #e5e5e5; }

.br {
  border-right: 1px solid #e5e5e5; }

.bb {
  border-bottom: 1px solid #e5e5e5; }

.bl {
  border-left: 1px solid #e5e5e5; }

.hairlines .bt, .hairlines .bd, .hairlines .br, .hairlines .bb {
  border-width: 0.5px !important; }

.fl {
  float: left; }

.fr {
  float: right; }

.fn {
  float: none; }

.clear:after {
  content: "";
  display: block;
  clear: both; }

.cell {
  display: table-cell;
  vertical-align: middle; }

.fz0 {
  font-size: 0;
  overflow: hidden; }

.fz20 {
  font-size: 0.5333333333rem; }

.fz24 {
  font-size: 0.64rem; }

.fz26 {
  font-size: 0.6933333333rem; }

.fz28 {
  font-size: 0.7466666667rem; }

.fz30 {
  font-size: 0.8rem; }

.fz32 {
  font-size: 0.8533333333rem; }

.fz34 {
  font-size: 0.9066666667rem; }

.fz36 {
  font-size: 0.96rem; }

.fz38 {
  font-size: 1.0133333333rem; }

.fz40 {
  font-size: 1.0666666667rem; }

.fz42 {
  font-size: 1.12rem; }

.fz44 {
  font-size: 1.1733333333rem; }

.fz50 {
  font-size: 1.3333333333rem; }

.fz60 {
  font-size: 1.6rem; }

.fz70 {
  font-size: 1.8666666667rem; }

.fz80 {
  font-size: 2.1333333333rem; }

.fz90 {
  font-size: 2.4rem; }

.fz100 {
  font-size: 2.6666666667rem; }

.fw-b {
  font-weight: bold; }

.fw-d {
  font-weight: 600; }

.fw-l {
  font-weight: lighter; }

.m5 {
  margin: 0.1333333333rem; }

.ml5 {
  margin-left: 0.1333333333rem; }

.mt5 {
  margin-top: 0.1333333333rem; }

.mb5 {
  margin-bottom: 0.1333333333rem; }

.mr5 {
  margin-right: 0.1333333333rem; }

.m10 {
  margin: 0.2666666667rem; }

.m20 {
  margin: 0.5333333333rem; }

.m30 {
  margin: 0.8rem; }

.m40 {
  margin: 1.0666666667rem; }

.mt10 {
  margin-top: 0.2666666667rem; }

.mt20 {
  margin-top: 0.5333333333rem; }

.mt30 {
  margin-top: 0.8rem; }

.mt40 {
  margin-top: 1.0666666667rem; }

.mr10 {
  margin-right: 0.2666666667rem; }

.mr20 {
  margin-right: 0.5333333333rem; }

.mr30 {
  margin-right: 0.8rem; }

.mr40 {
  margin-right: 1.0666666667rem; }

.mb10 {
  margin-bottom: 0.2666666667rem; }

.mb20 {
  margin-bottom: 0.5333333333rem; }

.mb30 {
  margin-bottom: 0.8rem; }

.mb40 {
  margin-bottom: 1.0666666667rem; }

.ml10 {
  margin-left: 0.2666666667rem; }

.ml20 {
  margin-left: 0.5333333333rem; }

.ml30 {
  margin-left: 0.8rem; }

.ml40 {
  margin-left: 1.0666666667rem; }

.mtb10 {
  margin-top: 0.2666666667rem;
  margin-bottom: 0.2666666667rem; }

.mlr10 {
  margin-left: 0.2666666667rem;
  margin-right: 0.2666666667rem; }

.mtb20 {
  margin-top: 0.5333333333rem;
  margin-bottom: 0.5333333333rem; }

.mlr20 {
  margin-left: 0.5333333333rem;
  margin-right: 0.5333333333rem; }

.mtb30 {
  margin-top: 0.8rem;
  margin-bottom: 0.8rem; }

.mlr30 {
  margin-left: 0.8rem;
  margin-right: 0.8rem; }

.mtb5 {
  margin-top: 0.1333333333rem;
  margin-bottom: 0.1333333333rem; }

.mlr5 {
  margin-left: 0.1333333333rem;
  margin-right: 0.1333333333rem; }

.p5 {
  padding: 0.1333333333rem; }

.pt5 {
  padding-top: 0.1333333333rem; }

.pb5 {
  padding-bottom: 0.1333333333rem; }

.pl5 {
  padding-left: 0.1333333333rem; }

.pr5 {
  padding-right: 0.1333333333rem; }

.p10 {
  padding: 0.2666666667rem !important; }

.p20 {
  padding: 0.5333333333rem !important; }

.p30 {
  padding: 0.8rem !important; }

.p40 {
  padding: 1.0666666667rem !important; }

.pt0 {
  padding-top: 0 !important; }

.pr0 {
  padding-right: 0 !important; }

.pb0 {
  padding-bottom: 0 !important; }

.pl0 {
  padding-left: 0 !important; }

.pt10 {
  padding-top: 0.2666666667rem !important; }

.pt20 {
  padding-top: 0.5333333333rem !important; }

.pt30 {
  padding-top: 0.8rem !important; }

.pt40 {
  padding-top: 1.0666666667rem !important; }

.pr10 {
  padding-right: 0.2666666667rem !important; }

.pr20 {
  padding-right: 0.5333333333rem !important; }

.pr30 {
  padding-right: 0.8rem !important; }

.pr40 {
  padding-right: 1.0666666667rem !important; }

.pb10 {
  padding-bottom: 0.2666666667rem !important; }

.pb20 {
  padding-bottom: 0.5333333333rem !important; }

.pb30 {
  padding-bottom: 0.8rem !important; }

.pb40 {
  padding-bottom: 1.0666666667rem !important; }

.pl10 {
  padding-left: 0.2666666667rem !important; }

.pl20 {
  padding-left: 0.5333333333rem !important; }

.pl30 {
  padding-left: 0.8rem !important; }

.pl40 {
  padding-left: 1.0666666667rem !important; }

.plr10 {
  padding-left: 0.2666666667rem;
  padding-right: 0.2666666667rem; }

.plr20 {
  padding-left: 0.5333333333rem;
  padding-right: 0.5333333333rem; }

.plr30 {
  padding-left: 0.8rem;
  padding-right: 0.8rem; }

.plr40 {
  padding-left: 1.0666666667rem;
  padding-right: 1.0666666667rem; }

.ptb10 {
  padding-top: 0.2666666667rem;
  padding-bottom: 0.2666666667rem; }

.ptb20 {
  padding-top: 0.5333333333rem;
  padding-bottom: 0.5333333333rem; }

.ptb30 {
  padding-top: 0.8rem;
  padding-bottom: 0.8rem; }

.ptb40 {
  padding-top: 1.0666666667rem;
  padding-bottom: 1.0666666667rem; }

.tx-c {
  text-align: center; }

.tx-l {
  text-align: left; }

.tx-r {
  text-align: right; }

.h1 {
  font-size: 0.9066666667rem;
  color: #4b4b4b; }

.h2 {
  font-size: 0.8rem;
  color: #4b4b4b; }

.h3 {
  font-size: 0.7466666667rem;
  color: #4b4b4b; }

.h4 {
  font-size: 0.6933333333rem;
  color: #4b4b4b; }

.h5 {
  font-size: 0.64rem;
  color: #4b4b4b; }

.h6 {
  font-size: 0.8533333333rem;
  color: #4b4b4b; }

.lh1 {
  line-height: 1; }

.lh12 {
  line-height: 1.2em; }

.lh14 {
  line-height: 1.4em; }

.lh16 {
  line-height: 1.6em; }

.lh18 {
  line-height: 1.8em; }

.p-te {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden; }

.p-te2 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical; }

.p-te3 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical; }

.bgn {
  background: none; }

.bgff {
  background: #fff; }

.bgfb {
  background: #fbfbfb; }

.bgf5 {
  background: #f5f5f5; }

.bgf0 {
  background: #f0f0f0; }

.cff {
  color: #fff; }

.c00 {
  color: #000; }

.c33 {
  color: #333; }

.c66 {
  color: #666; }

.c99 {
  color: #999; }

/*正圆*/
.round {
  border-radius: 26.6666666667rem;
  overflow: hidden; }

.round-main {
  border-radius: 0.16rem; }

.size-s {
  width: 2.1333333333rem;
  height: 2.1333333333rem;
  line-height: 2.1333333333rem;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }

.size-m {
  width: 3.2rem;
  height: 3.2rem;
  line-height: 3.2rem;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }

.size {
  width: 4.2666666667rem;
  height: 4.2666666667rem;
  line-height: 4.2666666667rem;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }

.size-b {
  width: 5.3333333333rem;
  height: 5.3333333333rem;
  line-height: 5.3333333333rem;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }

.img-wrap {
  overflow: hidden;
  position: relative;
  display: block; }
  .img-wrap img {
    width: 100%;
    height: auto;
    display: block;
    z-index: 1; }
  .img-wrap p {
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 2;
    display: block;
    color: #fff;
    background: rgba(0, 0, 0, 0.5);
    padding-top: 0.2666666667rem;
    padding-bottom: 0.2666666667rem; }

.img-bg {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }

.tx-ba {
  word-break: break-all;
  word-wrap: break-word; }

.tx-wsn {
  white-space: nowrap; }

.txt-c {
  text-transform: capitalize; }

.txt-u {
  text-transform: uppercase; }

.txt-l {
  text-transform: lowercase; }

.txt-n {
  text-transform: none; }
